body {
  background-color: #ffffff;
  font-family: "Roboto", "Raleway", sans-serif;
  color: #2e2f42;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  padding: 0 156px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 332px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2e2f42;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-piece {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
}

.nav-list {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

.list-items {
  display: block;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 24px 0;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-items.first {
  color: #404bbf;
}

.list-items.first::after {
  position: absolute;
  width: 100%;
  content: "";
  display: block;
  border-radius: 2px;
  height: 4px;
  background: #404bbf;
  bottom: -1px;
}

.list-items .contacts {
  font-weight: 400;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

.list-items-contacts:hover,
.list-items-contacts:focus {
  color: #404bbf;
}

.list-items:hover,
.list-items:focus {
  color: #404bbf;
}

.section-first {
  margin: 0 auto;
  max-width: 1440px;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-title {
  margin: 0 auto;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}
.button {
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
}

.section-second {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-second-list {
  display: flex;
  gap: 24px;
}

.section-second-items {
  width: calc((100%-72px) / 4);
}
.title-third {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.items-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-third {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-list {
  gap: 24px;
  display: flex;
}

.section-third-items {
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: #fff;
  width: calc((100%-72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-third-container {
  padding: 32px 0;
}

.section-third-title-third {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.section-third-items-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.section-list-fourth {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-fourth {
  padding: 120px 0;
}

.section-fourth-items {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-fourth-items:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-fourth-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #f4f4fd;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.section-second-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.section-third-item-list {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}
.section-third-items-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-third-items-social:hover,
.section-third-items-social:focus {
  background-color: #404bbf;
}

.section-fourth-overlay-container {
  position: relative;
  overflow: hidden;
}
.section-fourth-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.section-fourth-items:hover .section-fourth-overlay {
  transform: translateY(0);
}
.container-footer {
  width: 1158px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}
.footer-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}
.footer-head {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.container-in-footer-first {
  width: auto;
  margin-right: 120px;
}

.footer-list-a {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-a:hover,
.footer-list-a:focus {
  background-color: #31d0aa;
}

.footer-list-icon {
  fill: #f4f4fd;
}

.section-third-icon {
  fill: #f4f4fd;
}

.section-third-item {
  margin: 0;
}
